<h1 align="center"> Кальянная инспекция - умиротворение дымом! </h1>
<h4 align="center"> Аренда Кальяна </h4>
</br>


<% @hookahs.each do |hookah| %>
<div class="card text-center">
  <!-- <div class="card-header">
    <b> <%= hookah.price %>₽ за сутки </b>
  </div> -->
  <div class="card-body">
    <h5 class="card-title"><%= hookah.title %></h5>
    <img src="<%= hookah.path_to_image %>">
    <small class="card"> <b> <%= hookah.price %>₽ за сутки </b> </small>
	</br>
    <p class="card-text"><%= hookah.description %></p>
    <button class="btn btn-sm btn-success" onclick="add_to_cart(<%= hookah.id %>)">Добавить в корзину</button>
    <!-- <a href="#" class="btn btn-primary">Переход куда-нибудь</a> -->
  </div>
	  <div class="card-footer text-muted">
	    <b> <%= hookah.package %> </b>
	  </div>
</div> 
</br>
<hr/> 
</br>
<% end %>



<button class="btn btn-primary" onclick="something()">Заказать</button>